@CHARSET "UTF-8";
html, body {
	margin:0 auto;
}
body {
	width:900px;
}

h1 {
	color: #fc0;
	font-size: large;
}

#content{
	min-height:450px;
	padding-top: 100px;
	padding-left: 30px;
	margin-left:200px;
	float:none;
	background-color:#fff;
	height:auto;
}

header > img {
	float:left;
}
header > form, header > nav{
	display:block;
	float:left;
	width:350px;
}
#categories_menu {
	clear:both;
	float:left;
	width:200px;
}
footer {
	clear:both;
}